#displayblock {
	width: 20%;
	background-color: rgb(10, 108, 3);
	height: 824px;
	color: white;
	font-family: helvetica;
}

h1 {
	font-size: 20px;
}

h1, h2{
	padding: 8px;
}

#mainBoard {
	padding: 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.mainblock {
	float: left;
}


.container {
	background-color:  rgb(10, 108, 3);
	width: 70%;
	height: 824px;
}

.row {
	display: flex;
	justify-content: space-around;
	height: 100px;
}

.col {
	/*border: solid black 2px;*//*To check grid in board*/
	height: 200px;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	perspective: 1000;
}

.flipper, .front, .back {
    width: 140px;
    height: 190px;
}

.flipper {
    transition: 1.0s;
    transform-style: preserve-3d;
    position: relative;
    margin: 0px;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.col.flipped .flipper {
        transform: rotateY(180deg);
    }

#gameOver, #youLose {
	font-size: 40px;
	position: absolute;
	top: 250px;
	left: auto;
	color: white;
	font-family: helvetica;
}




/*http://jsfiddle.net/james2doyle/qsQun/
